.current-weather-container{
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.current-weather-container img{
    width: 50px;
}

.current-temp{
    font-size: 64px;
    color: white;
}

.current-weather-details{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
