.daily-forecast-wrapper{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    gap: 5px;
    padding-bottom: 4px;
    overflow-y: scroll;
    z-index: 1;
}

.daily-forecast-wrapper::-webkit-scrollbar {
    display: none;
}

.daily-forecast-container{
    display: inline-flex;
    flex: 0 0 60px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.4);
}

.daily-forecast-date{
    text-align: left;
    padding: 0 15px;
    font-size: 14px;
}

.daily-forecast-details{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 12px;
    color: rgb(50, 50, 50);
}

.daily-forecast-details img{
    width: 40px;
}

.daily-forecast-desc{
    width: 80px;
    padding: 0 10px;
}

.daily-temp-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    height: 100%;
    color: black;
}