.search-container{
    position: relative;
    width: 55vw;
    height: 40px;
}

.search-bar{
    top: 0;
    height: 40px;
    width: 100%;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    z-index: 9996;
}

.search-bar input[type=text]{
    border: none;
    outline: none;
    height: 100%;
    left: 0;
    background-color: transparent;
    width: calc(100% - 40px);
    padding: 0 20px;
    z-index: 9997;
    position: absolute;
}