.temp-unit-toggle-wrapper{
    display: flex;
    flex: 0 0 auto;
    align-items: center;
}

.temp-unit-toggle-container{
    display: flex;
    gap: 5px;
    padding: 0px 15px 0px 5px;
    color: lightgray;
}

.temp-unit{
    display: inline-flex;
    flex-grow: 0;
    justify-content: center;
    border-radius: 10px;
    color: lightgray;
}

.current-temp-unit{
    display: inline-flex;
    flex-grow: 0;
    justify-content: center;
    color: black;
    border-radius: 10px;
}


.current-temp-unit:before, .temp-unit:before{
    content: "°"
}

.temp-unit:hover{
    cursor: pointer;
}