.weather-card{
    width: 55vw;
    height: 80vh;
    border-radius: 20px;
    background-color: rgb(255 ,255 ,255, 0.4);
}

.weather-card img{
    width: 50px;
}

.location{
    font-size: 24px;
    font-weight: bold;
}

.current-temp{
    font-size: 56px;
    color: white;
}

.current-weather{
    display: flex;
    align-items: center;
    justify-content: center;
}