.weather-card{
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(35vw - 4px);
    height: calc(80vh - 4px);
    border-radius: 20px;
    padding: 2px;
    overflow: hidden;
}

.weather-card * {
    z-index: 2;
}

.weather-card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    background-color: rgb(255 ,255 ,255, 0.4);
    z-index: 1;
}

.loader-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(255 ,255 ,255, 0.3);
}

.weather-card h4{
    margin: 10px 0;
    flex-grow: 0;
    padding: 0 10px;
    text-align: left;
    font-weight: 500;
    color: dimgray;
}

.location{
    margin: 15px 0;
    font-size: 24px;
    font-weight: bold;
}